<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.co.mobilusers.boardmessenger.test">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application android:name=".Application"
                 android:allowBackup="true"
                 android:label="SDKTest"
                 android:icon="@mipmap/ic_launcher"
                 android:largeHeap="true"
                 android:theme="@android:style/Theme.NoTitleBar">

        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:screenOrientation="portrait" />
        <activity android:name=".BoardListActivity" android:screenOrientation="portrait" />
        <activity android:name=".RenderBoardActivity" android:screenOrientation="landscape" />
    </application>

</manifest>
